.inputbox {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.intpubox-label {
    color: rgba(0, 0, 0, 0.7);

    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}
/* input 일반 */
.inputbox-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 11px 16px 11px 0px;

    display: flex;
    align-items: center;
}

/* input 에러(유효성 검사 오류) */
.inputbox-container-error {
    border-bottom: 1px solid rgba(255, 0, 0, 0.7);
    padding: 11px 16px 11px 0px;

    background-color: rgba(250, 250, 250, 1);
    display: flex;
    align-items: center;
}

.input {
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;

    flex: 1; /* 아이콘 영역을 제외하고 남은 영역을 input으로 채우기 */
}

.icon-button {

}

.inputbox-message {
    color: rgba(255, 0, 0, 0.7);

    font-size: 10px;
    font-weight: 400;
    line-height: 140%;
}