/* * 요소 기본 스타일 제거 */
input {
    border: none;
    background: none;
    outline: none; /* # outline : focus 시, 생기는 테두리 */
}

textarea {
    border: none;
    outline: none;
    background: none;
    resize: none;
}

/* * 공통 스타일 */
.divider {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.emphasis {
    font-weight: bolder;
}

.word-badge {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 6px 20px;

    color: rgba(0, 0, 0, 0.5);

    font-size: 14px;
    font-weight: 500;
    line-height: 140%;

    &:hover {
        opacity: 0.5;
        cursor: pointer;
    }
}

/* * Header - 로그인 버튼 */
.black-button {
    border-radius: 46px;
    width: 95px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 1);

    color: rgba(255, 255, 255, 1);

    font-size: 14px;
    font-weight: 500;
    line-height: 140%;

    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

/* * 비활성화 버튼 */
.disable-button {
    border-radius: 46px;
    width: 95px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.4);

    color: rgba(255, 255, 255, 1);

    font-size: 14px;
    font-weight: 500;
    line-height: 140%;

    cursor: not-allowed; /* # 기능 동작을 막는 것은 별도 처리 필요 */
} 

/* * 마이페이지 버튼 */
.white-button {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 46px;
    /* ! border 고려해서, 로그인 버튼에서 -2씩 */
    width: 93px;
    height: 28px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 1);

    color: rgba(0, 0, 0, 0.5);

    font-size: 14px;
    font-weight: 500;
    line-height: 140%;

    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

/* * 기본 icon 상위 태그(링크 기능X) */
.icon-box {
    border-radius: 50%;
    width: 16px;
    height: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-box-small {
    border-radius: 50%;
    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-box-large {
    border-radius: 50%;
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* * 기본 icon 상위 태그(링크 기능 O) */
.icon-button {
    border-radius: 50%;
    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    &:hover {
        background: rgba(0, 0, 0, 0.05);
    }
}

/* * 공통 icon 적용 태그 */
.icon {
    width: 100%;
    height: 100%;

    background-position: center;
    background-size: cover;
}

/* *                 모든 아이콘                  */
.eye-light-off-icon {
    background-image: url(assets/images/eye-light-off.png);
}

.eye-light-on-icon {
    background-image: url(assets/images/eye-light-on.png);
}

.expand-right-light-icon {
    background-image: url(assets/images/expand-right-light.png);
}

.logo-light-icon {
    background-image: url(assets/images/logo-light.png);
}

.notion-icon {
    background-image: url(assets/images/nontion.png);
}

.github-icon {
    background-image: url(assets/images/github.png);
}

.insta-icon {
    background-image: url(assets/images/insta.png);
}

.naver-blog-icon {
    background-image: url(assets/images/naver-blog.png);
}

.logo-dark-icon {
    background-image: url(assets/images/logo-dark.png);
}

.search-light-icon {
    background-image: url(assets/images/search-light.png);
}

/* ! Auth 관련 아이콘 */
.auth-logo-icon {
    background-image: url(assets/images/auth/auth-logo.png);
}

.auth-check-ring-light-icon {
    background-image: url(assets/images/auth/check-ring-light.png);
}

.auth-check-round-fill-icon {
    background-image: url(assets/images/auth/check-round-fill.png);
}

/* ! Board 관련 아이콘 */
.image-box-light-icon {
    background-image: url(assets/images/board/image-box-light.png);
}

.close-icon {
    background-image: url(assets/images/board/close.png);
}

/* ! Board Detail 관련 아이콘 */
.more-icon {
    background-image: url(assets/images/board/more.png);
}

.favorite-fill-icon {
    background-image: url(assets/images/board/favorite-fill.png);
}

.favorite-light-icon {
    background-image: url(assets/images/board/favorite-light.png);
}

.up-light-icon {
    background-image: url(assets/images/board/expand-up-light.png);
}

.down-light-icon {
    background-image: url(assets/images/board/expand-down-light.png);
}

.comment-icon {
    background-image: url(assets/images/board/chat-light.png);
}

/* ! Pagination 관련 아이콘 */
.expand-left-icon {
    background-image: url(assets/images/pagination/expand-left.png);
}

.expand-right-icon {
    background-image: url(assets/images/pagination/expand-right.png);
}

/* ! User 페이지 관련 아이콘 */
.edit-icon {
    background-image: url(assets/images/user/edit-light.png);
}

.image-box-white-light-icon {
    background-image: url(assets/images/user/image-box-white-light.png);
}

.arrow-right-icon {
    background-image: url(assets/images/user/arrow-right.png);
}
/* * Auth(로그인, 회원가입) */
.auth-background-image {
    background-image: url(assets/images/auth/auth-background.png);
}

/* ! 로그인 | 회원가입 버튼 */
.black-large-full-button {
    border-radius: 46px;
    
    width: 100%;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 1);

    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;

    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}