/* * Header - 로그인 버튼 */
.black-button {
    border-radius: 46px;
    width: 95px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 1);

    color: rgba(255, 255, 255, 1);

    font-size: 14px;
    font-weight: 500;
    line-height: 140%;

    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

/* * 비활성화 버튼 */
.disable-button {
    border-radius: 46px;
    width: 95px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.4);

    color: rgba(255, 255, 255, 1);

    font-size: 14px;
    font-weight: 500;
    line-height: 140%;

    cursor: not-allowed;
} 

/* * 마이페이지 버튼 */
.white-button {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 46px;
    /* ! border 고려해서, 로그인 버튼에서 -2씩 */
    width: 93px;
    height: 28px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 1);

    color: rgba(0, 0, 0, 0.5);

    font-size: 14px;
    font-weight: 500;
    line-height: 140%;

    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

/* * 기본 icon 상위 태그(링크 기능X) */
.icon-box {
    border-radius: 50%;
    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* * 기본 icon 상위 태그(링크 기능 O) */
.icon-button {
    border-radius: 50%;
    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    &:hover {
        background: rgba(0, 0, 0, 0.05);
    }
}

/* * 공통 icon 적용 태그 */
.icon {
    width: 100%;
    height: 100%;

    background-position: center;
    background-size: cover;
}

/* * icons */
.eye-light-off-icon {
    background-image: url(assets/images/eye-light-off.png);
}

.eye-light-on-icon {
    background-image: url(assets/images/eye-light-on.png);
}

.expand-right-light-icon {
    background-image: url(assets/images/expand-right-light.png);
}

.logo-light-icon {
    background-image: url(assets/images/logo-light.png);
}

.insta-icon {
    background-image: url(assets/images/insta.png);
}

.naver-blog-icon {
    background-image: url(assets/images/naver-blog.png);
}

.logo-dark-icon {
    background-image: url(assets/images/logo-dark.png);
}

.search-light-icon {
    background-image: url(assets/images/search-light.png);
}


/* * Auth(로그인, 회원가입) 관련 배경 이미지, 아이콘, 버튼 */
.auth-background-image {
    background-image: url(assets/images/auth/auth-background.png);
}

.auth-logo-icon {
    background-image: url(assets/images/auth/auth-logo.png);
}

.auth-check-ring-light-icon {
    background-image: url(assets/images/auth/check-ring-light.png);
}

.auth-check-round-fill-icon {
    background-image: url(assets/images/auth/check-round-fill.png);
}

/* ! 로그인 | 회원가입 버튼 */
.black-large-full-button {
    border-radius: 46px;
    
    width: 100%;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 1);

    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;

    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}